.headerContainer {
  position: sticky;
  top: 0px;
  width: 100%;
  height: 4em;
  background-color: rgb(236, 236, 236);
  border-bottom: 1px solid rgb(85, 85, 85);
  box-shadow: 1px 1px 5px rgb(107, 107, 107);

  z-index: 100;
}

.header {
  display: flex;
  flex-direction: row;
  min-width: 100%;
  align-items: center;
  position: absolute;
  bottom: 0.5em;
}

.headerLeftSide  {
  position: relative;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  text-align: start;
  padding-left: 2%;
  font-size: 0.8em;
}

.headerRightSide {
  position: relative;
  flex: 1;
  flex-grow: 1;
  text-align: end;
  padding-right: 2%;
  font-size: 1.2em;
}
.headerRightSide a {
  padding-left: 1em;
  text-decoration: none;
  color: rgb(0, 0, 30);
}

.page-container {
  display: grid;
  grid-template-columns: 600px 400px;
  padding-left: 150px;
  z-index: 10;
}

.left-container {
  position: relative;
  width: 520px;
  aspect-ratio: 1/1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: rgb(247, 247, 247);
  top: 50px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  align-items: center;
  text-align: center;
}

.buttonGeneral {
  display: none;
  border-radius: 40px;
  border: none;
  width: 80px;
  aspect-ratio: 1;
  background-color: rgb(176, 176, 176);
}

.buttonGeneral {
  display: none;
  border-radius: 40px;
  border: none;
  width: 80px;
  aspect-ratio: 1;
  background-color: rgb(176, 176, 176);
}

.positiveCue, .negativeCue {
  position: absolute;
  font-size: 40px;
  font-weight: 100;
  color: rgb(0, 0, 0);
  left: 245px;
  display: none;
}

.right-container {
  padding: 10px;
  background-color: rgb(247, 247, 247);
  position: relative;
  border: 1px solid rgb(235, 235, 235);
  box-shadow: 1px 1px 7px rgb(155, 155, 155);
  right: 40px;
  top: 50px;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 1fr 100px;
  background-color: transparent;
}

.infoBox {
  position: relative;
  background-color: transparent;
  width: 370px;
  overflow: hidden;
  border: 1px solid darkgray;
}

.textSlideBox {
  z-index: 10;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(6, 370px);
  column-gap: 30px;
  /* 350px to the left slide */
  background-color: rgb(245, 245, 245);
  transition: 0.2s;
  transition-timing-function: ease-in-out;
  height: 100%;
}

.textSlideBox p {
  display: block;
  padding-left: 20px;
  padding-top: 30px;
  line-height: 25px;
}

.text6 {
  margin-top: 80px;
  font-size: 20px;
  font-weight: 700;
}

.arrowBox {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navButton {
  width: 50px;
  height: 30px;
  flex: 1;
  margin: 0px 10px 0px 15px;
  border: none;
  transition: 0.2s;
  border-radius: 2px;
}

.navButton:hover {
  background-color: rgb(220, 215, 215);
  cursor: pointer;
}

.navButton:active {
  background-color: rgb(200, 195, 195);
}

.nextButton p {
  font-size: 23px;
  font-weight: 500;
  background-color: rgba(203, 252, 200, 0.64);
}